{% load static %}
<div class="sb2-1">
    <!--== USER INFO ==-->
    <div class="sb2-12">
        <ul>
            <li><img src="{{account.profilepic.url}}" alt="{{account.name|title}}">
            </li>
            <li>
                <h5>{{account.name|title}} <span> {{account.type|title}}</span></h5>
            </li>
            <li></li>
        </ul>
    </div>
    <!--== LEFT MENU ==-->
    <div class="sb2-13">
        <ul class="collapsible" data-collapsible="accordion">
            <li><a href="{% url 'home' %}" ><i class="ti ti-home"></i> Dashboard</a></li>
            
            <li><a href="{% url 'view_events' %}" class="collapsible-header"><i class="fa fa-calendar-o" aria-hidden="true"></i> Events</a>
               
            </li>
            
            <li><a href="social-media.html"><i class="fas fa-trophy" aria-hidden="true"></i> Results</a>
            </li>
            <!-- <li><a href="login.html" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            </li> -->
        </ul>
    </div>
</div>