{% extends 'common/dashboard_main.html' %}
{% load static %}
{% block content %}

    <!--== MAIN CONTRAINER ==-->
    {% include 'common/topbar.html' %}

    <!--== BODY CONTNAINER ==-->
    <div class="container-fluid sb2">
        <div class="row">
            {% include 'common/sidenav.html' %}

            <!--== BODY INNER CONTAINER ==-->
            <div class="sb2-2">
                <!--== breadcrumbs ==-->
                <div class="sb2-2-2">
                    <ul>
                        <li><a href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="active-bre"><a href="#"> Edit Paassword</a>
                        </li>
                        <li class="page-back"><a href="{% url 'index' %}"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
                        </li>
                    </ul>
                </div>
                <!--== DASHBOARD INFO ==-->
                <div class="sb2-2-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-inn-sp">
                                <div class="inn-title">
                                    <h4>{{account.name|title}}</h4>
                                    <p>Update Password</p>
                                </div>
                                <div class="tab-inn">
                                    <form method="post" enctype="multipart/form-data" action>
                                        {% csrf_token %}
                                        {% if form.errors %}
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <div class="form-group label-floating">
                                                        <div class="alert alert-danger" style="margin-left:20px">
                                                            <code>{{ error }}</code>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                        <div class="row">
                                            <div class="input-field col s6">
                                                {% load widget_tweaks %}
                                                {% render_field form.name type="text" class="validate" required="true" %}
                                                <!-- <input id="first_name" type="text" value="Marsha" class="validate"> -->
                                                <label for="first_name">Name</label>
                                            </div>
                                            <div class="input-field col s6">
                                                {% render_field form.email type="email" class="validate" required="true" %}
                                                <label for="last_name">Last Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                {% render_field form.mob type="text" class="validate" required="true" %}
                                                <label for="phone">Mobile</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <div class="input-field col s12">
                                                    <div class="file-field input-field">
                                                        <div class="btn">
                                                            <span>File</span>
                                                            <input type="file">
                                                        </div>
                                                        <div class="file-path-wrapper">
                                                            {% render_field form.profilepic class="file-path validate" type="text" %}
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="input-field col s6">
                                                <input id="city" type="text" value="Illunois" class="validate">
                                                <label for="city">City</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="country" type="text" value="United States" class="validate">
                                                <label for="country">Country</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="password" type="password" value="aksdjfhasdf" class="validate">
                                                <label for="password">Password</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="password1" type="password" value="asdfaefrerfg" class="validate">
                                                <label for="password1">Confirm Password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="email" type="email" value="marshahi@mail.com" class="validate">
                                                <label for="email">Email</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="email1" type="email" value="marshahi@mail.com" class="validate">
                                                <label for="email1">Alternate Email</label>
                                            </div>
                                        </div> -->
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="submit" class="waves-effect waves-light btn-large" value="Update">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--== User Details ==-->
                
                

                

                
                
            </div>

        </div>
    </div>
{% endblock %}